code {
    margin: 0 0.1em;
    color: $font-color-4;
    padding: 0.1em 0.2em;
    border: 0.04em solid $accent-1;
    border-radius: 0.3em;
    background: $background-4;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    color: $font-color-4;
    padding: 0 1em;
    border: 0.04em solid $accent-1;
    border-radius: 0.3em;
    background: $background-4;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}
