/* Position elements inside header */

.site-header {
    position: relative; /* To position nav-toggle */
    display: flex;
    gap: $magic-number;
}

.nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
}

/* Title and tagline text */

.title * {
    color: $font-color-1;
}

.title p {
    font-style: italic;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .title {
        min-width: 50%;
    }
}

/* Overlay logo img and svg text */

.logo {
    width: 6rem;
    height: 6rem;
}
