.two-col-layout {
    display: flex;
}

.side-bar-col {
    width: calc((100%/6));
    padding-right: $magic-number * 2;

    ul {
        list-style: none;
        padding: 0;
    }

    .active {
        box-shadow: 0 0 0 0 $font-color-3, inset 2em 2em 0 0 $font-color-3;
    }

    .active a {
        color: $background-1;
    }
}

.side-bar-col li {
    background-color: transparent;
    margin-bottom: $magic-number;
    border-radius: $base-border-radius;
    box-shadow: 0.3em 0.3em 0 0 $font-color-3, inset 0 0 0 0 $font-color-3;
    transition: box-shadow 0.15s;
    border: 0.1em solid $font-color-3;

    &:hover {
        box-shadow: 0 0 0 0 $font-color-3, inset 2em 2em 0 0 $font-color-3;
    }

    a {
        display: block;
        padding: 4px 6px;
        width: 100%;
        color: $font-color-1;
        transition: color 0.15s;
    }

    &:hover a {
        color: $background-1;
    }
}

.main-col {
    width: calc((100%/6) * 5);
}

/* RESPONSIVENESS */

@media screen and (max-width: 67rem) {
    .side-bar-col {
        display: none;
    }

    .main-col {
        width: 100%;
    }
}
