body {
    color: $font-color-1;
}

p {
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin-bottom: $magic-number;
}

p,
td,
th,
li,
dd {
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: $magic-number;
    font-weight: bold;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
    margin-top: $magic-number * 2;
}
