$background-1: #fffffa;
$background-2: #e0f1ff;
$background-3: #fffffa;
$background-4: #e0f1ff;

// #a1bacf;
$accent-1: #4f4242;
$accent-2: #cfa3a1;

$font-color-1: #141412;
$font-color-2: #1f1e1b;
$font-color-3: #826d6c;
$font-color-4: #263d4f;


$base-border-radius: 4px; 
$base-font-size: 1rem;
$base-line-height: 1.4;
$magic-number: $base-font-size * $base-line-height;

.logo img {
    filter: invert(100%) sepia(22%) saturate(533%) hue-rotate(355deg) brightness(104%) contrast(103%);
}
