$black: #000;
$dark-gray: #0d100c;
$gray: #575757;
$medium-light-gray: #a0a0a0;
$light-gray: #e9e9e9;
$white: #fff;
$lime: #68ff5b;
$red: #fd0101;

$base-border-radius: 4px; 
$base-font-size: 1rem;
$base-line-height: 1.4;
$magic-number: $base-font-size * $base-line-height;
