$background-1: #141412;
$background-2: #4f4f46;
$background-3: #1f1e1b;
$background-4: #cecfb6;

$accent-1: #d4d77c;
$accent-2: #d4d77c;

$font-color-1: #cecfb6;
$font-color-2: #1f1e1b;
$font-color-3: #9b9c89;
$font-color-4: #141412;

$base-border-radius: 4px; 
$base-font-size: 1rem;
$base-line-height: 1.4;
$magic-number: $base-font-size * $base-line-height;

.logo img {
    filter: invert(9%) sepia(5%) saturate(521%) hue-rotate(22deg) brightness(98%) contrast(102%);
}
