{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <main class="main" role="main">
        <div class="tech-wrapper">
            {{ content }}
        </div>
    </main>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
