.two-col-layout {
    display: flex;
}

.side-bar-col {
    width: calc((100%/6));
}

.main-col {
    width: calc((100%/6) * 5);
}

/* RESPONSIVENESS */

@media screen and (max-width: 960px) {
    .side-bar-col {
        display: none;
    }

    .main-col {
        width: 100%;
    }
}